
.env

.terraform/modules/

tfplan

*.tfstate

.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.67.0/linux_amd64/

.terraform/providers/registry.terraform.io/hashicorp/azuread/2.41.0/linux_amd64/

.DS_Store

*.0_x5
